/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: Montserrat;
	color: #252B42;
	font-weight: 500;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*--------------------*/
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

._container {
	max-width: 1046px;
	padding: 0px 15px;
	margin: 0px auto;
	box-sizing: content-box;
}

._ibg {
	position: relative;
}

._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

/*--------------------------------------------------------------------------------------------------*/
/*ШАПКА*/
.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}

.header__container {
	display: flex;
	min-height: 104px;
	align-items: center;
}

@media (max-width: 479px) {
	.header__container {
		min-height: 70px;
	}
}

.header__logo {
	font-size: 24px;
	font-weight: 700;
	color: inherit;
}

.header__menu {
	margin: 0 0 0 133px;
}

@media (max-width: 992px) {
	.header__menu {
		margin: 0 0 0 80px;
	}
}

@media (max-width: 767px) {
	.header__menu {
		margin: 0 0 0 40px;
	}
}

@media (max-width: 479px) {
	.header__menu {
		margin: 0 0 0 20px;
	}
}

.menu {
	padding: 5px 0px;
}

.menu__list {
	flex-wrap: wrap;
	display: flex;
}

.menu__item:not(:last-child) {
	margin: 0px 21px 0px 0px;
}

.menu__link {
	color: #737373;
	font-weight: 600;
	line-height: 171%;
}

@media (max-width: 479px) {
	.menu__link {
		font-size: 18px;
	}

}

/*--------------------------------------------------------------------------------------------------*/
/*PAGE*/
.page {
	flex: 1 1 auto;
}

.page__main-block {}

.page__services {
	position: relative;
	z-index: 2;
	margin: -111px 0px 0px 0px;
}

/*--------------------------------------------------------------------------------------------------*/
/*ПОДВАЛ*/
.footer {}

/*--------------------------------------------------------------------------------------------------*/
/*MAIN-BLOCK*/


.main-block {
	position: relative;
}

.main-block__container {}


.main-block__body {
	padding: 184px 0px 191px 0px;
	position: relative;
	z-index: 2;
	max-width: 400px;
}

@media (max-width: 992px) {
	.main-block__body {
		padding: 120px 0px 0px 0px;
	}
}



.main-block__body>*:not(:last-child) {
	margin: 0px 0px 35px 0px;
}

.main-block__title {
	font-size: 58px;
	line-height: 137%;
	font-weight: 800;
	letter-spacing: 0.2px;
}

@media (max-width: 479px) {
	.main-block__title {
		font-size: 42px;
	}
}

.main-block__text {
	color: #737373;
	font-size: 20px;

}

@media (max-width: 479px) {
	.main-block__text {
		color: #535353;
	}
}

.main-block__buttons {
	display: flex;
	flex-wrap: wrap;
	margin: -10px 0;
}



.main-block__button {
	border-radius: 37px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 48px;
	padding: 5px 36px;
	letter-spacing: 0.2px;

	font-weight: 700;
	line-height: 150%;
	text-align: center;
	padding: 5px 36px;
	margin: 10px 0;

}

@media (max-width: 479px) {
	.main-block__button {
		flex: 1 1 100%;
	}
}

@media (mix-width: 479px) {
	.main-block__button:not(:last-child) {
		margin-right: 10px;
	}

}

.main-block__button:not(:last-child) {
	margin-right: 10px;
}


.main-block__button_orange {
	background: #FF7B47;
	color: #FFFFFF;
}



.main-block__button_border {
	color: #0D5C63;
	border: 1px solid #0D5C63;
}

.main-block__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

@media (max-width: 1300px) {
	.main-block__image img {
		object-position: right;
	}
}

@media (max-width: 992px) {
	.main-block__image {
		opacity: 0.5;
	}
}

/*--------------------------------------------------------------------------------------------------*/
/*page__services*/


.services {}

.services__container {}

.services__body {
	display: flex;
	margin: 0px -15px;

}

.services__column {
	padding: 0px 15px;
	flex: 0 1 33.333%;
}


.services__item {
	height: 100%;
	background: #FFFFFF;
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
	padding: 35px;
}

.item-service {}

.item-service__green {
	background: #0D5C63;
}

.item-service__green .item-service__title {
	color: #FFFFFF;
}

.item-service__green .item-service__text {
	color: #FFFFFF;
}

.item-service>*:not(:last-child) {
	margin: 0px 0px 10px 0px;
}

.item-service__icon {}

.item-service__title {
	font-weight: 700;
	letter-spacing: 0.1px;
	font-size: 24px;
	line-height: 133%;
}

.item-service__text {
	color: #737373;
	line-height: 122%;
}